button:focus {
    outline: none;
}

.header-li {
    font-size: 14px;
    margin-right: 26px;
    display: inline-flex;
    text-decoration: none;
}

.header-li:hover {
    color: #c7b299;
    cursor: pointer;
}

.header-li-icons {
    margin-right: 28px;
    display: inline-flex;
}

.myheader {
    height: auto;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    /*background: firebrick;*/
    background: url(../image/mountain.png) no-repeat;
    background-size: cover;
}

.logos {
    display: inline-flex;
}

.mylogo {
    padding-top: 40px;
}

.mylogowaxom {
    padding-top: 55px;
}

.header-ul {
    position: relative;
    padding-top: 62px;
}

.widget {
    padding-top: 60px;
    display: inline-flex;
    justify-content: space-between;
}

.cart {
    margin-right: 28px;
    font-size: 20px;
}

.cart:hover {
    color: #c7b299;
    cursor: pointer;
}

.search {
    cursor: pointer;
    font-size: 20px;

}

.search:hover {
    color: #c7b299;
}

.main-owl {
    padding: 369px 0 380px 0;
    display: block;
    text-align: center;
    position: relative;
}

.owl-item-unique {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    margin-bottom: 15px;
}

.owl-item-portfolio {
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 28px;
}

.owl-item-nam {
    margin-bottom: 55px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.my-owl-button {
    font-family: "Raleway ExtraBold", sans-serif;
    padding: 16px 39px;
    background: #998675;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    font-weight: 700;
    border: none;
    box-shadow: 0 3px #736357;
}

.owl-next {
    width: 40px;
    height: 73px;
    position: absolute;
    right: 10%;
    top: 50%;
    margin: 5px;
    padding: 7px 4px;
    background: url(../image/right.png);
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-prev {
    width: 40px;
    height: 73px;
    position: absolute;
    left: 10%;
    top: 50%;
    margin: 5px;
    padding: 4px 7px;
    background: url(../image/left.png);
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;

}

.owl-theme .owl-nav .owl-prev {
    background: url(../image/left.png);
}

.owl-theme .owl-nav .owl-prev:hover {
    background: url(../image/left-hover.png);
}

.owl-theme .owl-nav .owl-next {
    background: url(../image/right.png);
}

.owl-theme .owl-nav .owl-next:hover {
    background: url(../image/right-hover.png);
}

.owl-theme .owl-dots .owl-dot.active span {
    margin: 2px;
    background: none;
}
.owl-theme .owl-dots {
    padding-bottom: 42px;
}

.owl-theme .owl-dots .owl-dot.active {
    border-radius: 50%;
    border: 2px solid #d3c1ad;
}

.owl-theme .owl-dots .owl-dot span {
    margin: 2px 7px;
}

.services {
    font-family: "Montserrat", sans-serif;
    padding-top: 80px;
    padding-bottom: 70px;
    text-align: center;
}

.titles {
    position: relative;
    color: #555555;
}

.titles:before {
    right: 0;
    left: 0;
    margin: auto;
    content: "";
    top: 200px;
    position: absolute;
    width: 70px;
    height: 3px;
    background: #f1eee9;
}

.titles:hover:before {
    background: #c7b299;
}

.titles:hover {
    cursor: pointer;
    color: #c7b299;
}

.services-nam {
    margin-bottom: 80px;
    font-size: 14px;
    color: #8c8c8c;
}

.services-title {
    font-size: 22px;
}

.title-fonts {
    font-size: 40px;
    margin-bottom: 30px;
}

.my-owl-button:hover {
    background: #c7b299;
}

/* Третий блок */

.ideas {
    padding-top: 40px;
    background: #fbfaf8;
}

.browser-center {
    width: 100%;
}

.waxomis {
    text-align: center;
    color: #555555;
}

.ideas-title {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
}

.waxomis-title {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 40px;
    color: #8c8c8c;
}

/* Четвертый блок */
.multipurpose {
    margin-bottom: 80px;
    position: relative;
    background: url("../image/background.png");
    width: 100%;
}

.multipurpose-title {
    padding-top: 48px;
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 28px;
}

.multipurpose-title2 {
    font-family: "Montserrat", sans-serif;
    color: #615855;
    font-size: 18px;
    padding-bottom: 48px;
}

.multipurpose-button {
    position: absolute;
    right: 15%;
    top: 30%;
    font-family: "Raleway ExtraBold", sans-serif;
    padding: 16px 39px ;
    text-transform: uppercase;
    background: #998675;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    font-weight: 700;
    border: none;
    box-shadow: 0 3px #736357;
}

.multipurpose-button:hover {
    background: #c7b299;
}

/*Пятый блок 6 картинок*/

.sixblock {
    text-align: center;
    margin-top: 40px;
}

.sixblock-images {
    position: relative;
    width: 100%;
}

.project {
     text-align: start;
     background: #fbfaf8;
     transition: .2s;
     margin-bottom: 32px;
 }

.project-head {
    position: relative;
}

.project-fade {
    transition: .2s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;
    visibility: hidden;
    background: black;

}

.project-fade a {
    opacity: 1;
    color: #fff;
    margin-right: 15px;
}

.project-links:hover a {
    opacity: 1;
    color: #c7b299;
    margin-right: 15px;
}

.project-bottom {
    position: relative;
    padding-bottom: 28px;
    margin-top: 28px;
    margin-left: 30px;
    transition: .2s;

}
.project-bottom:before{
    top: -38px;
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 10px 15px;
    border-color: transparent transparent #fbfaf8 transparent;
}
.project:hover .project-bottom:before{
    border-color: transparent transparent #362f2d transparent;
}

.project-links:hover {
    color: #c7b299;

}

.project:hover {
    background: #362f2d;
}

.project:hover .project-fade {
    visibility: visible;

}

.project:hover {
    color: #d1d1d1;
}

.project h4 {
    font-weight: 500;
    color: #c7b299;
    font-family: Raleway, sans-serif;
    font-size: 20px;

}

.project h6 {
    font-weight: 500;
    color: #d1d1d1;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

.project:hover .project-bottom h4 {
    color: white;

}

.project:hover .project-bottom h6 {
    color: #c7b299;

}

.sixblock-button {
    display: flex;
    margin: auto;
    margin-bottom: 80px;
    font-family: "Raleway ExtraBold", sans-serif;
    padding: 16px 39px;
    text-transform: uppercase;
    background: #998675;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    font-weight: 700;
    border: none;
    box-shadow: 0 3px #736357;
}

.sixblock-button:hover {
    background: #c7b299;
}

section {
    display: none;
}

input {
    display: none;
}

label {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    margin-left: 10px;
    background: #fff;
    color: #8c8c8c;
    padding: 8px 15px;
    display: inline-block;
    align-items: center;
    font-weight: 600;
    text-align: center;
}

label:hover {
    cursor: pointer;
    border: 1px solid #998675;
    background: #998675;
    color: #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
    display: block;
}

#content1, #content2, #content3, #content4, #content5 {
    padding-top: 40px;
}

/* Iphone in hand */
.iphone {
    width: 100%;
}

.iphone-text {
    padding-top: 116px;
}

.iphone-text h3 {
    font-family: "Raleway SemiBold", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #555;

}

.iphone-text h5 {
    padding-top: 40px;
    font-family: "Montserrat Light", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #8c8c8c;


}
.iphone-img{
    width: 100%;
}

.padding-top {
    padding-top: 80px;
}

.iphone-list {
    margin-left: 30px;
    padding-top: 48px;
}

.iphone-list-items {
    padding-left: 50px;
    background: url("../image/arrows-iphone.png") no-repeat;
    position: relative;
    list-style: none;
    font-family: "Montserrat Light", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #8c8c8c;
}

.iphone-list-items:before {
    content: "";
    position: absolute;
    width: 22px;

}

.iphone-list-items img {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
}
/* Video block*/

.play-icon {
    cursor: pointer;
    position: relative;
    background: rgba(0.0.0.2);
    padding: 15px;
    border-radius: 50%;
    opacity: 0.5;
    transition: .2s;

}
.play-icon:hover{
    opacity: .7;
}

.videoblock{

    background: url("../image/video-bg.png") no-repeat;
    text-align: center;
    padding: 225px 0 205px 0;
}



.videoblock-title{
    padding-top: 45px;
    font-family: Raleway, sans-serif;
    font-size: 30px;
    color: #fff;
    padding-bottom: 30px;
}
.videoblock-title2{
    font-family: "Montserrat Light", sans-serif;
    font-size: 16px;
    color: #fff;
    padding-bottom: 40px;
}
.videoblock-time{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #c7b299;
}


/* Counters */
.counters {
    display: flex;
    justify-content: center;
    padding-top: 69px;
    text-align: center;
}

.counter {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    background: url("../image/background.png");
}

.counter-title {
    padding-top: 30px;
    color: white;
}

.counter-titles {
    font-family: "Montserrat Light", sans-serif;
    position: relative;
    color: #555555;
}

.counter-titles:before {
    right: 0;
    left: 0;
    margin: auto;
    content: "";
    bottom: -20px;
    position: absolute;
    width: 70px;
    height: 3px;
    background: #f1eee9;
}

.counter-titles:hover:before {
    background: #c7b299;
}

.counter-titles h5 {
    text-transform: uppercase;
    font-size: 14px;
    color: #c7b299;
}


/*Recent posts*/

.recent-posts {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #555555;
    margin-top: 80px;
}
#recent-posts .owl-theme .owl-nav .owl-next {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 50%;
    top: 90%;
    margin: 5px;
    padding: 4px 7px;
    background: url(../image/partners-left.png);
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
#recent-posts .owl-theme .owl-nav .owl-next:hover {
    background: url(../image/partners-left-hover.png);

}

#recent-posts .owl-theme .owl-nav .owl-prev {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 50%;
    top: 90%;
    margin: 5px;
    padding: 4px 7px;
    background: url(../image/partners-right.png);
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

#recent-posts .owl-theme .owl-nav .owl-prev:hover{
    background: url("../image/partners-right-hover.png");
}

#recent-posts .owl-theme .owl-dots{
    display: none;
}
.recent-posts-padding-bottom{
    padding-bottom: 47px;
}
.recent-project {
    position: relative;
    text-align: start;
    background: #fbfaf8;
    transition: .2s;
    margin-bottom: 32px;
}

.recent-project-head {
    position: relative;
}

.recent-project-links:hover a {
    opacity: 1;
    color: #c7b299;
    margin-right: 15px;
}

.recent-project-bottom {
    position: relative;
    padding-bottom: 28px;
    margin-top: 28px;
    margin-left: 30px;
    transition: .2s;

}

.recent-project-links:hover {
    color: #c7b299;

}

.recent-project:hover {
    background: #362f2d;
}

.recent-project:hover .project-fade {
    visibility: visible;

}

.recent-project:hover {
    color: #d1d1d1;
}

.recent-project h4 {
    font-weight: 500;
    color: #555555;
    font-family: Raleway, sans-serif;
    font-size: 20px;

}

.recent-project h6 {
    font-weight: 500;
    color: #8c8c8c;
    font-family: "Montserrat Light", sans-serif;
    font-size: 14px;
}

.recent-project:hover .recent-project-bottom h4 {
    color: #c7b299;

}

.recent-project:hover .recent-project-bottom h6 {
    color: #fff;

}
.recent-readmore{
    position: relative;
    color: #c7b299;
    font-size: 14px;
    font-family: "Montserrat Light", sans-serif;
}
.recent-readmore:hover{
    color: #c7b299;

}
.recent-readmore:before{
    position: absolute;
    content: '';
    background: url("../image/recent-arrow.png");
    width: 5px;
    height: 8px;
    right: -13px;
    bottom: 3px;
}

/*Partners*/

.bg-partners {
    background: url("../image/partners-bg.png");
    background-size: cover;
    padding: 140px 0;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}
.partners img   {
    width: 100%;
}

/*Footer*/
.footer {
    padding: 84px 0 84px 0;
    background: #191919;
}

.infooter-text {
    font-family: "Montserrat Light", sans-serif;
    font-size: 14px;
    color: #555555;
}

.infooter-text:first-child {
    margin-top: 30px;
}

.infooter-text:hover {
    color: #c7b299;
}

.footer-div:hover .infooter-text {
    color: #c7b299;
}

.title-footer {

    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #fff;

}

.footer-dates {

    font-family: "Montserrat Light", sans-serif;
    font-size: 12px;
    color: #363636;

}
.lines-in-end{
    margin-top: 20px;
    width: 100%;
    height: 1px;
    background: #252525;
}

.footer-div:hover .footer-dates {
    color: #fff;
}

.footer-photos img {
    width: 100%;
    margin-bottom: 10px;
}

.footer-div {
    margin-top: 33px;
}

.footer-div a {
    color: #00bff3;
}

.readmore {
    margin-top: 33px;
    color: #d1d1d1;
}

.readmore:hover {
    color: #d1d1d1;
}

.readmore-arrow {
    width: 5px;!important;
    height: 8px;
    margin-left: 10px;
}

/*END*/
.copyright {
    list-style: none;
    padding: 42px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright li {
    font-family: "Montserrat Light", sans-serif;
    font-size: 13px;
    color: #555555;
}

.endwords {
    color: #555555;!important;
}

.endwords:hover {
    cursor: pointer;
    color: #c7b299;
}

.endwhitetext {
    color: #959595;
}

.end {
    background: #111111;

}


